<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>question_list</title>
        <style type="text/css">

        input {
        	margin:0 px;padding:0;
        }
		ol {
		margin:0 px;padding:0;
		}
		</style>

    </head>

	<body>
		<h1> 问卷调查 </h1>
		<a href="{% url 'polls:newquestion'%}">新建问题</a>
		<a href="{% url 'polls:index'%}">管理问题</a>
		<a href="{% url 'polls:listquestionnaire'%}">问卷列表</a>
		{% if latest_question_list %}
		    <ul >
		    {% for question in latest_question_list %}
		    	<ol>
		    	<input type="checkbox" name="question_select" value="{{question.id}}" />
		    	<a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></ol>
				<ol type="A" style="padding-left : 30px">
					{% for choice in question.choice_set.all%}
						<li><label for="choice{{forloop.counter}}">{{choice.choice_text}}........{{choice.votes}}</label><br/></li>
					{% endfor %}
				</ol>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No polls are available.</p>
		{% endif %}
	</body>
</html>