<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>question_detail</title>	
    </head>

	<body>
		<h1> 问卷 </h1>
		<a href="{% url 'polls:index'%}">Home</a>
		{% if questionnaire_list %}
		    <ul >
		    {% for questionnaire in questionnaire_list %}
		    	{{questionnaire.id}}.{{questionnaire}}
<!-- 			{%for quuq in questionnaire.members.all%}  
		    	{{quuq}}
		    	{%endfor%} -->
		    {% endfor %}
			</ul>
		{% else %}
		    <p>No polls are available.</p>
		{% endif %}
	</body>
</html>